.App {
  text-align: center;
}

body {
  background-image: url("tube-map.png");
  position: relative;
}

/* body:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("tube-map.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
} */

.Navbar {
  width: 100%;
  background: #3c4749;
}

.navbar {
  margin-bottom: 40px;
}

.navText {
  color: #cbd9da !important;
}

.signup {
  margin: auto;
  width: 400px;
  border-style: none;
  border-radius: 5px;
  padding: 20px;
  background-color: #af260d;
  color: #cbd9da;
}

.planner {
  margin-top: 5%;
  margin-left: 10%;
  width: 400px;
  border-style: none;
  border-radius: 5px;
  padding: 20px;
  background-color: #af260d;
  color: #cbd9da;
  clear: both;
}

.footer {
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3c4749;
  text-align: center;
  color: #cbd9da;
  opacity: 0.7;
  padding-top: 20px;
}

#root {
  padding-bottom: 60px;
}

.buttonFloatRight {
  float: right;
}

.map {
  float: right;
  position: absolute;
  right: 10%;
  top: 5%;
  margin-top: 5%;
  margin-left: 10%;
  width: 650px;
  height: 650px;
  border-style: none;
  border-radius: 5px;
  padding: 20px;
  background-color: #3c9cfc;
  color: #cbd9da;
}

.innermap {
  position: absolute;
  right: 4%;
  top: 5%;
  width: 600px;
  height: 600px;
  border-style: none;
  border-radius: 5px;
  padding: 20px;
  background-color: #af260d;
  color: #cbd9da;
  padding-top: 40px;
}

.saveJform {
  position: absolute;
  margin-top: 4%;
  margin-left: 10%;
  width: 275px;
  border-style: none;
  border-radius: 5px;
  padding: 20px;
  background-color: #af260d;
  color: #cbd9da;
}

/* .saveJourneyText {
  margin: auto;
  width: 400px;
  height: 80px;
  padding: 20px;
  border-radius: 5px;
  background-color: #3c9cfc;
  color: #cbd9da;
  opacity: 0.8;
} */

.location-search-input {
  width: 100%;
  border-radius: 5px;
}

.savedJCard {
  position: relative;
  margin-bottom: 20px;
  margin-left: 800px;
  width: 275px;
  border-style: none;
  border-radius: 5px;
  padding: 40px;
  background-color: #af260d;
  color: #cbd9da;
}

.jCardContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1000px;
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  border-color: #af260d;
  opacity: 0.95;
  color: #cbd9da;
}

.jCard {
  border: #cbd9da;
  border-radius: 5px;
  border: 5px;
  border-style: solid;
  border-color: #3c9cfc;
  margin: 10px;
  background-color: #3c9cfc;
  color: white;
  opacity: 0.9;
}

.waitingGif {
  margin: auto;
  width: 550px;
  border-style: none;
  border-radius: 5px;
  padding: 50px;
  background-color: #af260d;
  color: #cbd9da;
  text-align: center;
}

.sJCardContainer {
  position: absolute;
  margin-left: 30%;
  margin-top: 0%;
  width: 60%;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border-style: solid;
  border-color: #af260d;
  background-color: white;
  opacity: 0.9;
  color: #cbd9da;
}

.sJCard {
  margin-right: 0;
  width: 175px;
  margin: 10px;
  height: 300px;
  border: #cbd9da;
  border-radius: 5px;
  border-style: solid;
  border-color: #af260d;
  padding: 4px;
  background-color: #3c9cfc;
  color: #3c4749;
}

.lineStatusContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 550px;
  border-style: none;
  border-radius: 5px;
  padding: 50px;
  background-color: #af260d;
  color: #cbd9da;
  text-align: center;
}

.victoria {
  background-color: #3c9cfc;
  border-radius: 5px;
  margin: 5px;
}

.northern {
  background-color: black;
  border-radius: 5px;
  margin: 5px;
}

.Central {
  background-color: rgb(220, 36, 31);
  border-radius: 5px;
  margin: 5px;
}

.bakerloo {
  background-color: rgb(178, 99, 0);
  border-radius: 5px;
  margin: 5px;
}

.circle {
  background-color: rgb(255, 211, 41);
  border-radius: 5px;
  margin: 5px;
  color: #3c4749;
}

.Jubilee {
  background-color: rgb(161, 165, 167);
  border-radius: 5px;
  margin: 5px;
}

.District {
  background-color: rgb(0, 125, 50);
  border-radius: 5px;
  margin: 5px;
}

.DLR {
  background-color: #00b2a9;
  border-radius: 5px;
  margin: 5px;
}

.Metropolitan {
  background-color: rgb(155, 0, 88);
  border-radius: 5px;
  margin: 5px;
}

.Piccadilly {
  background-color: rgb(0, 25, 168);
  border-radius: 5px;
  margin: 5px;
}

.JPmap {
  margin-top: -10px;
  margin-left: 10px;
}
